@import 'config';
@import 'nav';

body{
    letter-spacing: 1px;
}

@import 'car';
@import 'about';
@import 'about2';
@import 'page5';
@import 'team';
@import 'map';
@import 'register';
@import 'signup';
@import 'save';
@import 'page6';
@import 'contact';



footer{
    margin-top: 0;
    background: $green3;

    .footer-info{
        display: flex;
        flex-wrap: wrap;

      .div-one{
          padding: 3rem 0 1rem 4rem;

        h6{
            color: rgb(26, 25, 25);
            font-family: $sub-header;
            letter-spacing: 1px;
        }
        a{
            color: white;
            font-family: $header;
            font-size: 0.8rem;
            display: block;
            padding: 0.2rem 0;
            letter-spacing: 1px;
            text-decoration: none;

            &:hover{
                color: #000;
            }
        }
      }
    }
    
    p{
        padding: 2rem;  
        text-align: center;      
        color: #fff;
        font-family: $text;
        letter-spacing: 1px
    }
}



@import 'mobile';
@import 'lg-mobile';
@import 'tablet';
@import 'mini-laptop';
@import 'macbook';
